body {
  background-color: #1F2937;
  color: #E5E7EB;
  font-family: "Roboto";
  font-size: 18px;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  color: #E5E7EB;
  gap: 24px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  height: 48px;
  padding: 8px 22vw;
}

.header p {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 24px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 22vw;
  height: 500px;
  gap: 48px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
  line-height: unset;
  padding: 0;
  margin: 0 0 8px 0;
}

.left {
  width: 45%;
}

.left p {
  margin-top: 0;
  padding-top: 0;
}

button {
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 36px;
  font-size: 18px;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6D747D;
  color: #E5E7EB;
  width: 55%;
  height: 264px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 48px;
  margin: 20px 0 112px 0;
}

.items li {
  width: 172px;
  color: #1F2937;
}

.rounded-box {
  border: 4px solid #3882F6;
  border-radius: 16px;
  height: 172px;
  margin-bottom: 8px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  height: 500px;
  padding: 0px 28vw;
}

.quote h3,
.quote p {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.quote p {
  text-align: end;
  font-size: 26px;
  font-weight: 700;
}

i {
  font-weight: 300;
  font-style: italic;
}

.signup {
  display: flex;
  align-items: center;
  background-color: white;
  height: 400px;
  padding: 0px 22vw;
}

.blue-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  border-radius: 8px;
  height:150px;
  width: 100%;
  padding: 0px 6vw;
}

.blue-box button {
  border: 2px solid white;
  width: 150px;
}

h4 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.blue-box .left {
  width: 100%;
}

.blue-box .left p {
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}